
<div class="" *ngFor="let item of list let i = index">

  <div class="card" id={{item.id}}>
    <div class="row">
      <!--para la imagen-->
      <div class="col-4">
        <img class="imgP" src={{item.image_url}}>

        <ng-container *ngIf="item.popular">
          <div class="">
            <p class="text-white muy-top"><i class="fa fa-star px-2"></i>MUY TOP</p>
          </div>
        </ng-container>
      </div>
      <!--para el titulo, subcategoria y botones-->
      <div class="col ">
        <div class="row">
          <div class="col-8">
            <p class="titulo">{{item.title | titlecase}}</p>
            <p class="tituloSub">{{item.subcategory | titlecase}}</p>
          </div>
          <div class="col btns">
            <div class="row alin">
              <button class="col menos" (click)="eliminar(item, item.id)" [disabled]="!plato[item.id]">-</button>
              <ng-container *ngIf="plato[item.id]>0">
                <p class="col">{{plato[item.id]}}</p>
              </ng-container >
              <button class="col mas" (click)="agregar(item, item.id)" >+</button>
            </div>
          </div>
        </div>
        <!--para la imagen-->
        <div  class="row apar">
          <div class="col-8">
            <p class="mov tituloPrecio">Precio:</p>
          </div>
          <div class="col">
            <p class="price tituloPrecio">{{item.price | currency}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
