

<div class="container-sm espacio">
  <div class="modal-header ">
    <div class="col-2">
      <button (click)="regresar()" type="button" class="p-0 btn btn-outline-secondary"><i class="bi bi-chevron-left"></i></button>
    </div>
    <div class="col-8 text-center">
      <p>Resumen del pedido</p>
    </div>
    <div class="col-2">
    </div>
  </div>
  <!--Direccion de envio-->
  <div class="text-center">
    <app-direccion  (valiDireccion)="validarBtnOrden($event)"> </app-direccion>
  </div>
  <!--Metodo de pago-->
  <div>

  </div>
  <!--Tu pedido y vaciar-->
  <div class="row ep-2 ">
    <div class="col-8 tupedido">
      <p>Tu pedido</p>
    </div>
    <div class="col-4 p-0 m-0" >
      <div class="vaciar" (click)="vaciar()">
        <button>
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13 10V15M3 5H19L17.42 19.22C17.3658 19.7094 17.1331 20.1616 16.7663 20.49C16.3994 20.8184 15.9244 21 15.432 21H6.568C6.07564 21 5.60056 20.8184 5.23375 20.49C4.86693 20.1616 4.63416 19.7094 4.58 19.22L3 5ZM6.345 2.147C6.50675 1.80397 6.76271 1.514 7.083 1.31091C7.4033 1.10782 7.77474 0.999996 8.154 1H13.846C14.2254 0.999806 14.5971 1.10755 14.9176 1.31064C15.2381 1.51374 15.4942 1.80381 15.656 2.147L17 5H5L6.345 2.147V2.147ZM1 5H21H1ZM9 10V15V10Z" stroke="#EA1C1C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
        <p>Vaciar</p>
      </div>
    </div>
  </div>
  <!--Lista de platillos-->
  <div class="posicion2">
      <app-lista-platillos [pedidoOrdenado]="pedidoAlmuerzo" (enviarOrden)="detallesOrden($event)"></app-lista-platillos>
  </div>
</div>
<app-resumen-orden [sumaPedido]="sumPedido" [envio]="costoEnvio" [pedidoAlmuerzo]="descripcionOrden" [validacionPedido]="validacionP" (valiPlatillos)="validarListaP($event)"></app-resumen-orden>
