<div class="container espacio">
  <div class="container bgcolor">
    <div class=" row align-items-center text-center">
      <div class="col-2 p-0">
        <button (click)="logout()" class="p-0 bcolor"><i class="bi bi-chevron-left"></i></button>
      </div>
      <div class="col-8">
        <label for="exampleFormControlInput1" class="title form-label">Menú</label>
      </div>
      <div class="col-2">
      </div>
    </div>
  </div>
  <div class="container p-0">
    <app-categoria [list]="categories" (enviartodo)="enviarTodos($event)"></app-categoria>
  </div>
<!--Container de etiqueta agregar-->
  <div class="container">
    <div class=" row align-items-center text-center">
      <div class="col-9 p-0">
        <label for="exampleFormControlInput1" class="subtitle">+ Agrega tus platillos</label>
      </div>
    </div>
  </div>

  <!--Container de platillos-->
  <div class="">

    <ng-container *ngIf="catego == 'todos' || catego == 'almuerzos' ">
      <label for="exampleFormControlInput1" class="form-label">Almuerzos</label>
      <app-platillos (enviarPedido)="obtenerPedido($event)" (restarPedido)="pedidoRestar($event)" [list]="almuerzo"></app-platillos>
    </ng-container>

    <ng-container *ngIf="catego == 'todos' || catego == 'entradas'">
      <label for="exampleFormControlInput1" class="form-label">Entradas</label>
      <app-platillos (enviarPedido)="obtenerPedido($event)" (restarPedido)="pedidoRestar($event)" [list]="entrada"></app-platillos>
    </ng-container>

    <ng-container *ngIf="catego == 'todos' || catego == 'postres'">
      <label for="exampleFormControlInput1" class="form-label">Postres</label>
      <app-platillos (enviarPedido)="obtenerPedido($event)" (restarPedido)="pedidoRestar($event)" [list]="postre"></app-platillos>
    </ng-container>

    <!--Boton de ver pedido-->
    <div >
      <button (click)="verpedidos()" [disabled]="pedidoAlmuerzo.length == 0" type="button" class="bcolor3 mb-4 mt-3"><strong>Ver pedido</strong></button>
    </div>

  </div>
</div>
<div class="VPrectangulo">
  <app-vista-pedido [sumPlatos]="numTotal[1]" [sumTotal]="numTotal[0]" ></app-vista-pedido>
</div>
