<div class="container bgcolor">
  <div class="container">
    <div class=" row pt-4 pb-2 align-items-center text-center">
      <div class="col-2">
        <button class="bcolor "><label for="exampleFormControlInput1" class="form-label h2"><strong><</strong></label></button>
      </div>
      <div class="col-7">
        <label for="exampleFormControlInput1" class="form-label h3">Menú</label>
      </div>
    </div>
  </div>
   <!--Container de botones de categorias-->
  <div class="container">
    <div class=" row   pt-2 pb-2 align-items-center text-center">
      <div class="col-3">
        <button class="bcolor2 border border-dark">
          <strong> Todos</strong>
        </button>
      </div>
    </div>
  </div>
<!--Container de etiqueta agregar-->
  <div class="container">
    <div class=" row pt-4 pb-2 align-items-center text-center">
      <div class="col-9">
        <label for="exampleFormControlInput1" class="form-label h4"><strong>+ Agregar tus platillos</strong></label>
      </div>
    </div>
  </div>
  <!--Container de platillos-->
  <div class="">

    <ng-container *ngIf="1">
      <label for="exampleFormControlInput1" class="form-label h6"><strong>Almuerzos</strong></label>
      <app-platillos (enviarPedido)="obtenerPedido($event)" (restarPedido)="pedidoRestar($event)" [list]="almuerzo"></app-platillos>
    </ng-container>

    <ng-container *ngIf="1">
      <label for="exampleFormControlInput1" class="form-label h6"><strong>Entradas</strong></label>
      <app-platillos (enviarPedido)="obtenerPedido($event)" (restarPedido)="pedidoRestar($event)" [list]="entrada"></app-platillos>
    </ng-container>

     <ng-container *ngIf="1">
      <label for="exampleFormControlInput1" class="form-label h6"><strong>Postres</strong></label>
      <app-platillos (enviarPedido)="obtenerPedido($event)" (restarPedido)="pedidoRestar($event)" [list]="postre"></app-platillos>
    </ng-container>

    <!--Boton de ver pedido-->
    <div >
      <button type="button" class="bcolor3 mb-4 mt-3"><strong>Ver pedido</strong></button>
    </div>
</div>
