
.modal-header{
  justify-content: left;
}

.modal-body{
  margin: 0 20px;
  padding: 0;
}

.modal-dialog{
  margin: 10px 20px 0 20px;
}

.modal-body label{
  margin-bottom: 10px;
}

.titulo{
  font-family: "Poppins";
  font-size: 15px;
}


.card{
  margin-bottom: 20px;
  height: 50px;
}
.card2{
  margin-bottom: 20px;
  height:67px;
}
.card3{
  margin-bottom: 20px;
  width: 100%;
  height:40px;

}

.msj{
  overflow: hidden;
}

.posicion{
  margin:auto 0;
  text-align: left;
}

.posicion p{
  position: absolute;
  display: inline-block;
  margin-left: 10px;
  font-size: .8em;
  margin-top: 4px;
}

.posicion input{
  width: 26px;
  height: 26px;
  margin-left: 10px;
}


.Rectangulo{
  /* Gris très clair */
  background: #F1F3F8;
  border-radius: 9px;

}

.text-danger{
  font-size: 12px;
}

.msj{
  width: 100%;
  height: 20px;
  overflow: hidden;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: #838383;
}

.colr{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #838383;
  font-size: 14px;
}

.newstyle{
  text-align: left;
    padding: 0;
    margin: auto;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.Rectangulod{
  box-sizing: border-box;
  width: 100%;
  height: auto;
  left: 41px;
  top: 178px;

  background: #FFFFFF;
  /* Primary Font Color */

  border: 1px solid #373737;
  border-radius: 9px;

}
.posicion2 p{

  display: inline-block;
  margin-left: 10px;
  font-size: .8em;
  margin-top: 4px;
}
.posicion2 input{
  width: 26px;
  height: 26px;
  margin-left: 10px;
}

#calle{
  display:inline-block;
  width: 100%;
  height: 25px;
  background: #F6F6F6;
  border-radius: 15px;
  margin-bottom: 10px;
}

.posicion2 .form-label{
  width: 50px;
  height: 29.08px;
  left: 98px;
  top: 341px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
}

.bcRP{
  width: 100%;
  height: 55px;
  //margin: 0 20px 20px 0;
  background: #FFFFFF;
  border-radius: 15px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #BDBDBD;
  border-color: #FFFFFF;
}

.bcRPV{
  width: 100%;
  height: 83px;
  //margin: 0 30px 30px 0;
  background: #EBDDBA;
  border-radius: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #373737;
  border-color: #FFFFFF;
}

.bc2{
  width: 100%;
  height: 60px;
  left: 43.17px;
  top: 326px;
  background: #838383;
  color: #FFFFFF;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  }
  .bcolor3{
    background-color: #d5bb7a;
    width: 100%;
    height: 60px;
    border-color: rgb(251, 251, 251);
    border-radius: 20px;
    border: 5pc;
    align-items: center;
    font-weight: 600;
  }
  //icono más
  .bi-plus {
    font-size: x-large;
    padding-left: 35px;
    font-weight:bold !important ;
    color: #838383;
    border:2px;
  }

  //icono ubicación
  .bi-geo-alt{
    font-size: 30px;
    padding-left: 30px;
    font-weight:bold !important ;
    color: #373737;
    border:2px;
  }

  //icono flecha abajo
  .bi-chevron-down{
    font-size: 20px;
    font-weight:bold !important ;
    color: #373737;
    border:2px;
  }

  .col-1{
    padding-top: 35px;
  }

  .modal-content{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-color: #FFFFFF;
    border-radius: 15px;
  }

  .modal{
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background: rgba(255, 255, 255, 0.5);

  }

  .borderColorW{
    border-color: #FFFFFF;
  }


  .tu{
    text-align: left;
    padding: 5px 0 0 10px;
    margin: auto;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14px;

  }

  .u{
    text-align: left;
    padding: 5px 0 0 10px;
    margin: auto;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    overflow: hidden;
  }
