.rows{
  width: auto;
  height: 40px;
  white-space: nowrap;
}

.scroll{
  overflow-y: hidden;
  overflow-x: auto;
}

.rows button{
  margin: 5px;
  width: 100px;
  font-weight: bold;
}

.bcolor2{
  width: 100px;
  height: 30px;
  border: 1px solid #373737;
  border-radius: 10px;
}


